
.header {
    height: 120px;
    background-image: linear-gradient(0, #f94d30, #fa5130);
}

.h-navbar {
    display: flex;
    justify-content: space-between;
}

.h-navbar-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.h-navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.h-navbar-item,
.h-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.h-navbar-item,
.h-item-link,
.h-fa-icon {
    display: flex;
    align-items: center;
}

.h-navbar-item:hover,
.h-item-link:hover,
.h-navbar-icon:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.h-navbar-icon:nth-child(2) {
    margin-left: 3px;
}

/*HEADER USER INFO*/
.h-navbar-user{
    position: relative;
    display: flex;
    justify-content: center;
}

.h-navbar_user-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.h-navbar_user-name{
    margin-left: 4px;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 8px;
    color: #eddede;
}

.h-navbar_user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    margin-top: 4px;
    top: 100%;
    right: 0;
    width: 180px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.h-navbar_user-menu-spr {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.h-navbar-user:hover .h-navbar_user-menu{
    display: block;
}

.h-navbar_user-menu::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    width: 55%;
    height: 16px;
}

.h-navbar_user-menu-item a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 6px 16px;
    margin-top: 8px;
}

.h-navbar_user-log-out a {
    color: var(--primary-color);
}

.h-navbar_user-menu-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.h-navbar_user-menu-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.h-navbar_user-menu-item a:hover {
    background-color: #e9dfdf;
}

.h-navbar_user-menu::after {
    content: "";
    border-style: solid;
    border-width: 16px 20px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 20px;
    top: -24px;
}

.h-item-strong {
    font-weight: 500;
}

.h-navbar-spr::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #ed9891;
    height: 1.4rem;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.h-navbar-icon {
    color: var(--white-color);
    text-decoration: none;
}

.h-fa-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

.h-no-pointer {
    cursor: text;
    color: var(--white-color);
}

/*HEADER QR CODE*/
.h-QR {
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
    width: 184px;
    top: 100%;
    left: 0;
    margin: 10px 0 0;
    padding: 2px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.h-QR::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 24px;
    content: "";
    display: block;
}

.h-show-QR:hover .h-QR {
    display: block;
}

.h-QR-img {
    width: 100%;
}

.h-QR-apps {
    display: flex;
    justify-content: space-between;

}

.h-QR-link:nth-child(1) {
    margin-left: 11px;
}

.h-QR-link:nth-child(2) {
    margin-right: 11px;
}

.h-QR-store {
    height: 16px;
}
/*HEADER QR CODE--END*/

/*HEADER NOTIFICATION*/
.h-notify {
    position: absolute;
    z-index: 1;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: text;
    transform-origin: calc(100% - 32px) top;
    animation: hNotifyGrowth ease-in 0.2s;
    will-change: oppacity, transform;
    display: none;
}

.h-notify::before {
    content: "";
    border-style: solid;
    border-width: 16px 18px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -30px;
}

.h-notify::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 20px;
    top: -16px;
    right: 0;
    display: block;
}

.h-notify-show:hover .h-notify {
    display: block;
}

@keyframes hNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.h-notify-h {
    height: 40px;
    background-color: var(--white-color);
}

.h-notify-h h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}


.h-notify-list {
    padding-left: 0;

}

.h-notify-item {
    display: flex;
    padding: 12px;
}

.h-notify-item:hover {
    background-color: #e1dede;
}

.h-notify-item-new {
    background-color: rgba(251, 100, 69, 0.09);
}

.h-notify-link {
    display: flex;
    width: 100%;
    text-decoration: none;
}

.h-notify-img {
    width: 48px;
    object-fit: contain;


}

.h-notify-ìno {
    margin-left: 12px;

}

.h-notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.h-notify-des {
    display: block;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #333333;
    margin-top: 4px;
}

.h-notify-f {
    display: flex;
}

.h-notify-f-btn {
    text-decoration: none;
    width: 100%;
    padding: 8px 0;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}
/*HEADER NOTIFICATION--END*/

/*AUTH MODAL*/

.auth-form {
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    min-height: 400px;
    min-width: 500px;
}

.auth-form_container {
    padding: 0 32px;
}

.auth-form-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form_heading {
    font-size:  1.6rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form_switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form_form {

}

.auth-from_input {
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    margin-top: 16px;
    padding: 0 12px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-from_input:focus {
    border-color: #888;
}

.auth-form_aside {
    margin-top: 18px;
}

.auth-form_policy {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form_policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form_controls {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
}

.auth-btn_back {
    margin-right: 8px;
}

.auth-form_socials {
    display: flex;
    justify-content: space-between;
    padding: 12px 40px;
    background-color: #f5f5f5;
    margin-top: 58px;
}

.social-icon {
    font-size: 1.8rem;
}

.social-facebook {
    color: var(--white-color);
    background-color: #1877f2;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.social-google {
    color: #e4382a;
    background-image: linear-gradient(0, #fbc20f, #1c9440);
    border: 1px solid #ccc;
    border-radius: 2px;
}

.social-tittle {
    margin: 0 12px;
    color: var(--white-color);
}

/*LOG IN FORM*/

.auth-form_Help {
    display: flex;
    justify-content: flex-end;
}

.auth-form_Help-Link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #007ac8;
}

.auth-form_help-spr {
    display: block;
    content: "";
    border: 1px solid var(--border-color);
    margin: -2px 16px;
    height: 20px;
}

/*HEADER WITH SEARCH*/

.h-with-search {
    display: flex;
    height: var(--h-with-search-height);
    align-items: center;
    padding: 0 8px;
}

.h-logo {
    width: 162px;
}

.h-logo-link {
    text-decoration: none;
    color: transparent;
}

.h-logo-img {
    width: 146px;
}

.h-search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.h-cart {
    width: 138px;
    text-align: center;
}

.h-cart-wrap {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0 12px;
}

.h-cart-wrap:hover .h-cart-list {
    display: block;

}

.h-cart-notice {
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 2px solid #EE4D2D;
    border-radius: 10px;
    top: -4px;
    right: -4px;
    padding: 1px 6px;
}

.h-cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.h-cart-list {
    z-index: 1;
    position: absolute;
    top: calc(100% + 6px);
    width: 400px;
    right: -4px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}

.h-cart-list::after {
    content: "";
    cursor: pointer;
    position: absolute;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -25px;
    right: 8px;
}

.h-cart-heading {
    text-align: left;
    margin: 8px 8px 0 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.h-product-list {
    padding-left: 0;
    list-style: none;
    height: 56vh;
    overflow-y: auto;
}

.h-product-item {
    display: flex;
    align-items: center;
}

.h-product-item:hover  {
    background-color: #f8f8f8;
}

.h-product_item-info {
    width: 100%;
    margin-right: 12px;
    line-height: 2rem;
}

.h-product-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.h-product_item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h-product_item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.h-product_item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.h-product_item-multiply {
    font-size: 1rem;
    margin: 0 4px;
    color: #757575;
}

.h-product_item-qty {
    font-size: 1.2rem;
    color: #757575;
}

.h-product_item-body {
    display: flex;
    justify-content: space-between;
}

.h-product_item-des {
    font-size: 1.2rem;
    color: #757575;
    font-weight: 300;
    text-align: left;
}

.h-product_item-remove {
    font-size: 1.2rem;
    color: var(--text-color);
}

.h-product_item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.h-cart-view {
    float: right;
    margin: 0 12px 12px 0;
}

.h-cart-view:hover {
    background-color: #F05D41;
}

.h-cart_empty-img {
    width: 50%;
    display: none;
}

.h-cart-list_empty {
    padding: 16px 0;
}

.h-cart_no-cart-message {
    font-size: 1.4rem;
    color: var(--text-color);
    display: none;
}

.h-cart-list_empty .h-cart_empty-img,
.h-cart-list_empty .h-cart_no-cart-message {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h-search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.h-search-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.h-search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.h-search-select:hover .h-search-option {
    display: block;
}

.h-search-option {
    z-index: 1;
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    width: 140px;
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    margin-top: 12px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.h-search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 12px;
    position: absolute;
    left: 0;
    top: -10px;
}

.h-search-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 12px;
}

.h-search-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 16px;
}

.h-search-item:hover {
    background-color: #fbfbfb;
    cursor: pointer;
}

.h-search-item {
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px 8px;
}

.h-search-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.h-search-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.h-search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.h-search-select-icon {
    color: #666;
    font-size: 1.4rem;
    margin: 0 16px;
    position: relative;
    top: 1px;
}

.h-search-btn {
    width: 50px;
    height: 34px;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: var(--primary-color);
    margin-right: 4px;
}

.h-search-btn:hover {
    background-color: #ef7c65;
    cursor: pointer;
}

.h-search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

/*Search history*/

.h-search-input:focus ~ .h-search-history{
    display: block;
    z-index: 1;
}

.h-search-history {
    z-index: 1;
    position: absolute;
    background-color: var(--white-color);
    width: calc(100% - 16px);
    left: 0;
    top: calc(100% + 2px);
    border-radius: 3px;
    box-shadow: 0 1px 5px #ebe7e7;
    display: none;
    overflow: hidden;
}

.h-search-history-item:hover {
    background-color: #f5f1f1;
}

.h-search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.h-search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 12px 0 0;
}

.h-search-history-item {
    height: 38px;
    padding: 0 12px;
}

.h-search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}

/*CONTAINER*/

.container {
    background-color: #F5F5F5;
}

.container-content {
    padding-top: 24px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category-heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list {
    list-style: none;
    padding-left: 0;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    position: absolute;
    content: "";
    border-top: 1px solid #E1E1E1;
    top: 0;
    left: 28px;
    right: 28px;
}

.category-item-active .category-item-link {
    color: var(--primary-color);
}

.category-item-active .category-item-link::before {
    position: absolute;
    content: "";
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    transform: translateY(-50%);
    left: 22px;
}

.category-item-link {
    position: relative;
    right: 0;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 32px;
    transition: right linear 0.1s;
}

.category-item-link:hover {
    right: -4px;
    color: var(--primary-color);
}

/*HOME FILTER*/

.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.05);
}

.home-filter-lable {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter-page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter_page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter_page-current {
    color: var(--primary-color);
}

.home-filter-btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter_page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 60px;
    height: 34px;
}

.home-filter_page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter_page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter_page-icon {
    margin: auto;
    font-size: 1.2rem;
    color: #555;
}

.home-filter_page-btn-disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter_page-btn .home-filter_page-btn-disable {
    color: #ccc;
}

/*PRODUCT ITEMS*/
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}

.home-product_item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product_item-name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem;
    color: var(--text-color);
    margin: 10px 10px 16px;
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.home-product_item-price {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.home-product_item-price-old {
    font-size: 1.4rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}

.home-product_item-price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
    align-items: baseline;
}

.home-product_item-action {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 8px;
}

.home-product_item-like {
    font-size: 1.3rem;
}

.home-product_icon-fill {
    color: #f94d30;
    display: none;
}

.home-product_item-liked .home-product_icon-fill {
    display: inline-block;
}

.home-product_item-liked .home-product_icon-empty {
    display: none;
}

.home-product_item-rating {
    font-size: 1rem;
    /*zoom: 0.8;*/
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.star-icon-gold {
    color: var(--star-icon_gold-color);
}

.home-product-sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-origin {
    display: flex;
    margin: 0 10px 8px;
    font-size: 1.2rem;
    font-weight: 300;
    color:var(--text-color);
}

.home-product_origin-brand {
    margin-right: auto;
}

.home-product_origin-name {

}

.home-product-favorite {
    position: absolute;
    top: 4px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-favorite::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-favorite span {
    color: var(--white-color);
}

.home-product-favorite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}

.home-product_sale-off {
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    width: 40px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.92);
    border-top-right-radius: 2px;
}

.home-product_sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-style: solid;
    border-width: 0 20px 4px;
    color: rgba(255, 216, 64, 0.92);
    border-color: transparent currentColor transparent currentcolor;
}


.home-product_sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 4px;
}

.home-product_sale-off-label {
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 4px;
}

.home-product-pagination {
    margin: 48px 0 32px 0;
}

/*FOOTER*/
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}

.footer-heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #666;
    font-weight: 300;
    padding: 6px 0;
    display: block;
}

.footer-item-link:hover {
    color: var(--primary-color);
}

.footer-payment_logo-img {

}
