.header {
    height: 120px;
    background-image: linear-gradient(0, #f94d30, #fa5130);
}

.header-navbar {
    display: flex;
    justify-content: space-between;
}

.header-navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header-navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header-navbar-item,
.header-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header-navbar-item,
.header-item-link,
.header-fa-icon {
    display: inline-flex;
    align-items: center;
}

.header-navbar-item:hover,
.header-item-link:hover,
.header-navbar-icon:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header-item-strong {
    font-weight: 500;
}

.header-navbar-separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #f86c5c;
    height: 1.4rem;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.header-navbar-icon {
    color: var(--white-color);
    text-decoration: none;
}

.header-fa-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

.header-navbar-no-pointer {
    cursor: text;
    color: var(--white-color);
}
